services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - VITE_NODE_ENV=${VITE_NODE_ENV}
      - NUXT_PUBLIC_API_BASE_URL=http://backend:${PORT_BACKEND}
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      - backend
    ports:
      - "${PORT_FRONTEND}:${PORT_FRONTEND}"
      - "24678:24678"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.nuxt
      - /app/.output
    command: sh -c "npx nuxi cleanup && npm run dev"
    networks:
      - dev-network

  backend:
    build: ./backend
    environment:
      NODE_ENV: development
      DB_HOST: database
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - database
    ports:
      - "${PORT_BACKEND}:${PORT_BACKEND}"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: sh -c "npm run start:dev"
    networks:
      - dev-network

  database:
    image: mysql:8.0
    container_name: dev-database
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:${DB_PORT}" # Mapea tu puerto externo al 3306 interno de MySQL
    volumes:
      - ./backend/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql
    networks:
      - dev-network

  adminer:
    image: adminer
    container_name: dev-adminer
    ports:
      - "8080:8080"
    depends_on:
      - database
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

volumes:
  db_data:
